<h1>Eat-Da-Burger!</h1>
<hr>
<div>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo30V1sEpwnxvQxh6Do1XLHaedrAA1I4ggjr8k7v9N5DHTMRFPrg" class="center">
</div>
<hr>
<div class="row" id="container">

  <div class="col-6" id="buToBeDevoured">
    <h4>Burger To Devour</h4>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
  </div>
  
  <div class="col-6  text-muted">
    <h4  class="text">Devoured Burgers!</h4>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
  </div>

</div>

<form class="create-form" >
  <br>
  <div class="row justify-content-center">
    <span class="border">
    <input type="text" id="bu" name="name">
    </span>
   </div> 
   <br>
  <div class="row justify-content-center">
  <button type="submit" id="submitId">Add Burger</button>
 </div>
<br>
</form>