<h1>Burgers!</h1>
<br>
<div>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo30V1sEpwnxvQxh6Do1XLHaedrAA1I4ggjr8k7v9N5DHTMRFPrg" class="center">
</div>
<br>
<div class="row" id="middleContainer">

  <div class="col-6" id="buToBeDevoured">
    <h3>Da-Burger!</h3>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
  </div>

  <div class="col-6">
    <h3>Burgers that are devoured!</h3>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
  </div>

</div>
{{!-- <h2>Add a Burger</h2> --}}
<form class="create-form">

  <div class="form-group">
    <label for="bu"></label>
    <input type="text" id="bu" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="devoured">Sleepy?</label><br>
    <input type="radio"name="devoured" value="1" checked> Sleepy!<br>
    <input type="radio" name="devoured" value="0"> Awake
  </div> --}}

  <button type="submit" id="submitId" position="center">Add Burger</button>
</form>