li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    /* font: rgb(197, 196, 196);  */
 
  }
  
.label {
    font-weight: bold;
  }
  
.create-update-form {
  
    
  }
  
.form-group {
    margin-bottom: 5px;
    background-color: aliceblue;
  
  }

.classBody{
  /* margin: 50px; */
  padding: 50px; 
  background-color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.change-devoured{
  border-radius: .2em;
  margin-left: 20px;
  height: 20px;
  font: .75em sans-serif;
  
}

#bu {
  /* margin-left:20px; */
     height:100px;
    width:250px;
    border:5px black;
    /* object-position: center; */
}
  
#submitId{
  border-radius: .2em;
  background-color: rgb(86, 173, 255);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:150px;
  width: 250px;
}

h1{
text-align: center;
color: red;
font: 3em sans-serif;
}

h4{
  text-underline-position: below .2em grey;
  
  
}
#container{
  margin:50px;
}

