li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    /* font: rgb(197, 196, 196);  */
 
  }
  
.label {
    font-weight: bold;
  }
  
.create-form {
  
  /* background-color: rgb(255, 241, 240); */
  position: flex;
  }
  


.classBody{
  /* margin: 50px; */
  padding: 50px; 
  background-color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.change-devoured{
  border-radius: .2em;
  margin-left: 20px;
  height: 20px;
  font: .75em sans-serif;
  
}

#bu {
    height:100px;
    width:400px;
    border:5px black;

}
  
#submitId{
  border-radius: .2em;
  background-color: rgb(86, 173, 255);
  height:40px;
  width: 150px;
  font-size: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:150px;
  width: 250px;
}

h1{
text-align: center;
color: red;
/* font: 3em sans-serif; */
}

#container{
  margin:50px;
}

.text{
  color: #212529;
}
